<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Mital Kapadia/IdeaProjects/HomeworkTestNGFramework/src/main/java/FirstTestNGHomework.java">
        <classes>
            <class name="FirstTestNGHomework"></class>
        </classes>
    </test>
</suite>